.basic-information-width {
  width: 18.402vw;
}

.profile-foto-width {
  width: 24.1666vw;
}
.about-me-width {
  width: 20.21875vw;
}

.margin-top-2-0625-rem {
  margin-top: 2.0625rem;
}

.h3-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.75rem;
  color: #ffffff;
}

.h3-about {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.875rem;
  color: #ffffff;
}
.profile-foto {
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  border-radius: 1.125rem;
}

.p-profile-about {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  /* or 27px */
  color: #ffffff;
}
.p-profile-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  /* or 24px */
  letter-spacing: 0.01em;
}
.gap-0-695 {
  gap: 1.695vw;
}
.width-7-01-vw {
  width: 7.01vw;
}
.gap-1-8171rem {
  gap: 3.12rem;
}

.gap-1-2824rem {
  gap: 1.2798rem;
}

.gap-1-94-vw {
  gap: 1.94vw;
}
.width-9-7-vw {
  width: 9.7vw;
}

@media only screen and (max-width: 1187px) {
  .flex-direction-column-max-width-1032px {
    flex-direction: column;
  }

  .basic-information-width {
    width: 25vw;
  }

  .profile-foto-width {
    width: 26.1666vw;
  }
  .about-me-width {
    width: auto;
  }
  .gap-1-8171rem {
    gap: 1.2rem;
  }
  .gap-0-695 {
    gap: 8.695vw;
  }
}

@media only screen and (max-width: 1061px) {
  .flex-direction-column-max-width-816px {
    flex-direction: column;
  }
  .text-align-center-max-width-816px {
    text-align: center;
  }

  .basic-information-width {
    width: 50vw;
  }

  .profile-foto-width {
    width: 50vw;
  }
  .width-9-7-vw {
    width: auto;
  }
  .gap-0-695 {
    gap: 19.695vw;
  }
  .width-7-01-vw {
    width: 6vw;
  }
}
