.margin-top-bottom {
  margin-top: 1.6875rem;
  margin-bottom: 2.25rem;
}
.border-radius-shadow {
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  border-radius: 0.75rem;
}

.border-radius-0-75rem {
  border-radius: 0.75rem;
}
.h3-project {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  /* identical to box height, or 32px */
}

.margin-left-3-33-vw {
  margin-left: 3.33vw;
}

.border-radius-1-4375 {
  border-radius: 1.4375rem;
}

.padding-buton-project {
  padding-right: 1.25vw;
  padding-left: 1.25vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.buton-yazi-project {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 100%;
  /* identical to box height, or 14px */
  margin: auto;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.p-link-project {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  /* or 100% */
  text-decoration-line: underline;
  color: #120b39;
}

.p-project {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 125%;
  /* or 20px */

  color: #383838;
}
.margin-right-2-22vw {
  margin-right: 2.22vw;
}
.gap-1-5rem {
  gap: 1.5rem;
}

.gap-0-04166vw {
  gap: 0.4166vw;
}

.gap-1-04166vw {
  gap: 1.04166vw;
}
.width-66-67vw {
  width: 66.67vw;
}

@media only screen and (max-width: 960px) {
  .flex-direction-column-max-width-960px {
    flex-direction: column-reverse;
  }
  .margin-top-max-width-960px {
    margin-top: 1rem;
    text-align: center;
  }
  .justify-content-center-max-width-960px {
    justify-content: center;
  }

  .width-32vw-max-width-960px {
    width: 32vw;
  }
}
