.width-50-27 {
  width: 50.27vw;
}
.visibility-hidden {
  /* display: none; */
  visibility: hidden;
}

.ek-yazi {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #777777;
}
